.bar {
  background-color: rgb(255, 0, 0);
  width: 100vw;
  height: 10vh;
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.link{
  box-sizing: border-box;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.link:hover {
  color: white;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(188, 1, 1) ;
}